<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="header-menu" [ngClass]="{'sml':smlIcon}">
    <ul class="hide-on-med-and-down">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">FAQ</a>
      </li>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Claims</a>
      </li>
      <li>
        <a href="#">Giveback</a>
      </li>
    </ul>

    <div class="f show-on-medium-and-down">
      <i class="material-icons">dehaze</i>
    </div>

    <div class="icon hide-on-med-and-down">
      <img src="/assets/img/icon.svg">
    </div>

    <div class="icon f show-on-medium-and-down">
      <img src="/assets/img/icon.svg">
    </div>

    <div class="header-button-parent hide-on-med-and-down">
      <div class="header-button" [ngClass]="{'show-button': smlBtn}">
        <button class="btn pink waves-effect waves-light">Check our prices</button>
      </div>
    </div>

    <div class="header-button-parent f show-on-medium-and-down">
      <div class="header-button" [ngClass]="{'show-button': smlBtn}">
        <button class="btn pink waves-effect waves-light btn-small">Prices</button>
      </div>
    </div>
  </div>
</header>

<div class="container content-container none-scroll">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h1 class="center-align" #h1>Forget Everything You Know About Insurance</h1>
    </div>
  </div>
  <div style="margin-top: 30px" class="center-align" #bo>
    <button class="btn pink waves-effect waves-light btn-large" >Check our prices</button>
  </div>
</div>

<router-outlet></router-outlet>
